main {
  margin: auto;
  max-width: 46rem;
  padding: 2rem 1rem;
  font-size: 19px;
}

p {
  margin: 0px 0px 1.2em 0px;
}

h2 {
  margin: 2em 0em 0.8em 0em;
}

h3 {
  margin: 1.2em 0em 0.6em 0em;
}

ul,
ol {
  padding: 0em 1.5em;
}
